*{
    text-align: center; 
}
body{
    background-color: #f0f0f0;
    font-family: calibri;
    margin: 0px;    
}   
header{
    background-image: url("../img/background-stars.jpg");
    color: #fff; 
    padding: 4rem;
}
main{
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 15rem;
    padding-right: 15rem;
}
